# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtualenv
venv/
myvenv/
.venv/

# Django
*.sqlite3
*.log
*.pot
*.pyc

# IDE
.idea/

# System
.DS_Store

__pycache__/
*.pyc
supermarket/

