{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="categories-menu">
    {% for c in categories %}
        <a href="{{ c.get_absolute_url }}" class="category-link">{{ c.category }}</a>
    {% endfor %}
</div>

<div class="articles-list">
    {% for item in articles %}
        <div class="article-card">
            <a href="{{ item.get_absolute_url }}" class="article-title-link">
                <h3 class="article-card-title">{{ item.title }}</h3>
            </a>

            <p class="article-card-date">
                {{ item.pub_date|date:"d E Y" }}
            </p>

            <p class="article-card-text">
                {{ item.description|striptags|truncatewords:25 }}
            </p>
        </div>
    {% endfor %}
</div>

<a href="{% url 'articles-list' %}" class="all-posts-link">Всі публікації</a>

{% endblock %}
