{% extends "base.html" %}
{% load static %}
{% block content %}

{% if categories %}
<nav class="navbar navbar-default">
  <div class="container">
    {% for item in categories %}
    <a href="{{ item.get_absolute_url }}">
        <h4>{{ item.category }}</h4>
    </a>
    {% endfor %}
  </div>
</nav>
{% endif %}

{% for item in articles %}
<div class="article-block">
    <a href="{{ item.get_absolute_url }}">
        <h3>{{ item.title }}</h3>
    </a>
    <h5>{{ item.pub_date|date:"j E Y" }}</h5>
    <p>{{ item.description|striptags|truncatewords_html:32 }}</p>
</div>
{% endfor %}

<a href="{% url 'articles-list' %}"><h4>Всі публікації</h4></a>

{% endblock %}
